.table {
    display: table !important;
    border-collapse: separate !important;
    box-sizing: border-box !important;
    text-indent: initial !important;
    border-spacing: 2px !important;
    border-color: grey !important;
}

